.nav-bar {
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 6px #00000029;
  background-color: white;
  position: fixed;
  z-index: 2;

  @include spTab {
    height: 40px;
  }

  .global-menu {
    margin-right: 60px;

    @include spTab {
      margin-right: 0;
    }
  }

  .nav-btn {
    width: 25px;
    height: 20px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
    appearance: none;
    background: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    display: none;
    @include spTab {
      display: block;
    }
    span {
      @include spTab {
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #40bddd;
        position: absolute;

        &:first-child {
          top: 0px;
        }
        &:nth-child(2) {
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:last-child {
          bottom: 0px;
        }
      }
    }
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;

    @include spTab {
      display: none;
      position: absolute;
      top: 0px;
      width: 50%;
      height: 1000px;
      background-color: #40bddd;
      text-align: left;
    }
  }

  .nav-item {
    @include spTab {
      border-bottom: 1px solid white;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &:nth-child(n + 2) {
      margin-left: 40px;

      @include spTab {
        margin-left: 0px;
      }
    }

    a {
      color: #40bddd;
      font-size: 20px;

      @include spTab {
        color: white;
        margin-left: 20px;
      }
    }
  }
}
