.intro-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @include spTab {
    display: block;
    text-align: center;
  }
}

.intro-img {
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.intro-description {
  margin-left: 100px;
  position: relative;

  @include spTab {
    margin-left: 0;
    margin-top: 30px;
    text-align: left;
  }
}
