.works-list {
  display: flex;
  justify-content: space-around;

  @include spTab {
    display: block;
  }
}

.works-item {
  width: 400px;
  height: 450px;
  @include spTab {
    margin-bottom: 30px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.works-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 6px #00000029;
  padding-bottom: 10px;

  p {
    margin-top: 10px;
    color: black;
  }
}

